.nav {
	background: transparent;
	height: 80px;
	display: flex;
	justify-content: center;
	font-weight: 700;
  }
  
  .navLink {
	color: #fff;
	font-size: 2rem;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
  }
  
  @media screen and (max-width: 400px) {
	.navLink {
	  position: absolute;
	  top: 10px;
	  left: 25px;
	}
  }
  
  .navIcon {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #fff;
  }
  
  .navIcon p {
	transform: translate(-175%, 100%);
	font-weight: bold;
  }
  
  .bars {
	font-size: 2rem;
	transform: translate(-50%, -15%);
  }